// **************************************
// variables
// **************************************

// Colors
$white: #fffcfc;
$color-primary: #4ABDAC;// teal
$color-secondary: #FC4A1A;// RED-ORANGE
$color-tertiary: #F78733;// gold

// Breakpoints Map
$breakpoints: (
  'sm': 320px,
  'md': 768px,
  'lg': 1024px,
);
