// **************************************
// variables
// **************************************

// Colors
$white: #fffcfc;
$color-primary: #67a69c;// teal
$color-secondary: #f16c48;// RED-ORANGE
$color-tertiary: #F78733;// gold

$dark-blue: #052542;

// Breakpoints Map
$breakpoints: (
  'sm': 320px,
  'md': 768px,
  'lg': 1024px,
);
