//****************************
//Base Stylessheet
//****************************

#submit {
  width: 200px;
  margin: auto;
  background-color: $color-secondary;
  margin-right: 15px;
}

#clear {
  width: 200px;
  margin: auto;
  background-color: $color-secondary;
}
