//****************************
//forms
//****************************
#housing-form {
  background-color: $white;
  border-radius: .5rem;
  width: 70%;
  color: $dark-blue;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.sign-up {
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.contact-info legend {
  text-align: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  padding-left: 0;
}

.contact-info li {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  @include mq('md') {
    flex-direction: row;
  }
}

.news-heading {
  display: flex;
  flex-direction: column;
  @include mq('md') {
    flex-direction: row;
  }
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  @include mq('lg') {
    margin-left: .7rem;
  }
  @include mq('xl') {
    margin-left: 3rem;
  }
}

.text-field {
  border: 1px solid $dark-blue;
  width: 100%;
  padding: 5px;
}

.input-buttons {
  margin-top: 1.5rem;
  text-align: center;
}

.input-buttons button {
  margin-right: 3rem;
}

.news-heading {
  display: flex;
}

.income,
.zipcode {
  display: flex;
}

.income label,
.zipcode label {
  @include mq('md') {
    width: 30%;
  }
}

.income input,
.zipcode input {
  @include mq('md') {
    width: 70%;
  }
}
