//****************************
//Base Stylessheet
//****************************
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


body {
  font-family: 'Roboto', 'Helvetica' ,sans-serif;
  background-color: $color-primary;
  color: $white;
}


.form-banner,
.about-banner,
.resources-banner {
  text-align: center;
  margin: auto;
  margin-bottom: 6rem;
  margin-top: 4rem;
  width: 90%;
}

.banner-text {
  position: absolute;
  margin-top: 3rem;
}

// .form-banner h1,
// .form-banner p {
//
// }
//


.lead {
  width: 80%;
  margin: 0 auto;
}

.about-title,
.resource-title {
  @include mq('md') {
    margin-left: 8rem;
    margin-top: 6rem;
  }

  @include mq('lg') {
    margin-left: 15rem;
    margin-top: 6rem;
  }

  @include mq('xl') {
    margin-left: 20rem;
    margin-top: 6rem;
  }
}

.resource-title {
  @include mq('md') {
    margin-left: 5rem;
    margin-top: 6rem;
  }

  @include mq('lg') {
    margin-left: 12rem;
    margin-top: 6rem;
  }

  @include mq('xl') {
    margin-left: 18rem;
    margin-top: 6rem;
  }
}

a {
  color: $dark-blue;
}

#about-me,
#additional-resources {
  display: none;
}


#form-section {
  margin-bottom: 6rem;
}

#result-display {
  width: 70%;
  margin: 0 auto;
  background-color: $white;
  color: $dark-blue;
  // padding: 20px;
  border-radius: 0.5rem;
  margin-bottom: 40px;
}

#result-display ul {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#result-display li {
  margin-bottom: 1rem;
}

#result-display p {
  color: red;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
